<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitored Monitor</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" crossorigin="anonymous">
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <!--script src="/webjars/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/searchbar.css">
    <link rel="stylesheet" href="/css/input-tags.css">
</head>
<body>

<div id="app" class="container-fluid">
    <div class="row sticky-top">
        <div class="col-md-8"><h1>Monitored Dialogue</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <section>
                <article>
                    <dialogue-item
                            v-for="(dialogue,index) in dialogue_list"
                            v-bind:dialogue="dialogue"
                    >
                    </dialogue-item>
                </article>
                <div id="smartbotBody"></div>
            </section>
        </div>
    </div>
    <div class="row sticky-top">
        <div class="col-md-8 py-3">
            <section>
            <div class="btn-toolbar" role="toolbar" >
                <div class="btn-group mr-2" role="group">
                    <button class="btn btn-danger" onclick='saveDialogueToGraph()' v-bind:disabled="saveableState"><i class="fas fa-check-circle"></i> Save</button>
                </div>
                <div class="btn-group mr-2" role="group">
                    <button class="btn btn-danger" onclick='location.reload()' ><i class="fas fa-sync-alt"></i> Reload</button>
                </div>
                <div class="btn-group" role="group">
                    <button disabled class="badge badge-warning shadow-none border-0 user-notif">{{userNotification}}</button>
                </div>
            </div>
            <div class="input-group border-0 py-3">
                <div class="input-group-prepend shadow-none border-0">
                    <span class="input-group-text shadow-none border-0"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control shadow-none border-0" type="search" id="searchFilter" v-model="searchFilter" @input="onSearchFilterChange" placeholder="Start typing text to find corresponding actions"/>
            </div>
                <div class="row overflow-auto">
                    <div class="col-md-8">
                        <div class="col-md-8">
                            <span v-if="searchFilter != ''" v-for="action ,index in flat_action_list"><div class="badge badge-pill badge-danger" v-on:click='addAction( index )'><i class="fas fa-grip-horizontal mr-2"></i>{{ action }}</div></span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="js/dashboard.js"></script>
</body>
</html>