<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dialogue Monitor</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="/css/dialogues.css">
</head>
<body>
<div id="app">
    <header>Monitored Dialogue</header>
    <section>
        <article>
            <p>Active Dialogues</p>
            <dialogue-item
                    v-for="dialogue in dialogue_list"
                    v-bind:dialogue="dialogue"
            >
            </dialogue-item>
        </article>
        <div id="smartbotBody"></div>
    </section>
    <footer>
        <div id="actionWindow">
            <div id='save-button-div'><input id='add-action-button' type='button' value='Save'
                                             onclick='saveDialogueToGraph()' disabled><span id='graph-status'></span>
            </div>
            <table id='actionTable'>
            <action-item
                    v-for="action in action_list"
                    v-bind:action="action"
            >
            </action-item>
            </table>
        </div>
    </footer>
</div>
<script src="js/dialogues.js"></script>
</body>
</html>