<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Intents Management</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/intents.css">
</head>
<body>
<div id="app">
    <input id="search_text" type="text">
    <div>
        <input type="button" value="Add" onclick="addIntent()">
    </div>


    <div class="split left">

        <intent-item
                v-for="(intents, indx) in intent_list"
                v-bind:intents="intents"
                v-on:remove="remove(intents.intent, indx)"
        ></intent-item>
    </div>
    <div class="split right">
        <label id="intent_label">Intent: {{intent_label}}</label>
        <input id="input_example" type="text"><input type="button" value="Add" onclick="addExample()">
        <example-item
                v-for="(example, indx) in example_list"
                v-bind:example="example"
                v-on:remove="removeExample(indx)"
        ></example-item>
    </div>
</div>


</div>
<script src="js/intents.js"></script>
</body>
</html>