/* Style the header */
header {
    background-color: #666;
    padding: 5px;
    text-align: center;
    font-size: 25px;
    color: white;
}

section {
    background-color: #DDDADA;
    height: 400px;
}

article {
    float: left;
    padding: 3px;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

#actionTable {
    width: 100%;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 2px;
    height: 250px;
}


.dialogue-item {
    left: 5px;
    margin-bottom: 5px;
}

.status {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.LOW {
    background-color: red;
}

.MEDIUM {
    background-color: yellow;
}

.HIGH {
    background-color: green;
}

.TRAIN {
    background-color: blue;
}

.NEED_OPERATOR {
    -webkit-animation: argh-my-eyes 1s infinite;
    -moz-animation:    argh-my-eyes 1s infinite;
    animation:         argh-my-eyes 1s infinite;
}

@-webkit-keyframes argh-my-eyes {
    0%   { background-color: #DDDADA; }
    49% { background-color: #DDDADA; }
    50% { background-color: #000; }
    99% { background-color: #000; }
    100% { background-color: #DDDADA; }
}
@-moz-keyframes argh-my-eyes {
    0%   { background-color: #DDDADA; }
    49% { background-color: #DDDADA; }
    50% { background-color: #000; }
    99% { background-color: #000; }
    100% { background-color: #DDDADA; }
}
@keyframes argh-my-eyes {
    0%   { background-color: #DDDADA; }
    49% { background-color: #DDDADA; }
    50% { background-color: #000; }
    99% { background-color: #000; }
    100% { background-color: #DDDADA; }
}

#actionWindow {
    height: 97%;
    overflow-y: auto;
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 3px;
    margin-bottom: 3px;

}

#smartbotBody {
    height: 100%;
}

.action-item {

}
.action-item-text {

}

table {
    margin-top: 5px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#save-button-div {
    display: block;
    margin-bottom: 5px;
}

#add-action-button {
    margin-right: 5px;
}

#graph-status {
    background-color: #e31e26;
    color: white;
}
.best-action {
    background-color: #2F0B0C;
}